
@font-face {
    font-family: "Athelas-Regular";
    font-style: "normal";
    font-display: "swap";
    /*unicode-range: U+000-5FF;*/
    src: 
        local('Athelas-Regular'),
        url('resources/Athelas-Regular.woff2') format('woff2');
}

* { 
    font-family: "Athelas-Regular";
    color: ghostwhite;
}

#container {
    margin: auto;
    /*margin:20px 20px;*/
    width:1000px;
}

#header {
    float: right;
    text-align: left;
    width: 320px;
    margin-top: 20px;
}

#content {
    float: left;
    width: 640px;
    font-size: 18px;
    font-weight: 100;
    margin-bottom: 20px;
    margin-right: 40px;
    margin-top: 20px;
}

#sidebar {
    float: right;
    width: 320px;
    color: ghostwhite;
    font-size: 22px;
    line-height: 30px;
    margin-top: 0px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-top: solid 1px #DEDEDE;
    /* border-bottom: solid 1px #DEDEDE; */
}


#mail:hover {
    text-shadow: -1px -1px #217,
                 -1px  1px #217,
                  1px -1px #217,
                  1px  1px #217;
}

#icon {
    transform: translateX(-10px);
    display: inline-block;
    opacity: 0;
}

#mail:hover + #icon {
    opacity: 1;
    transform: translateX(0px);
    transition: all 0.4s ease-in-out;
}

body {
    background-color: #070707;
}

p {
    font-size: 18px;
}

h1 {
    font-weight: bold;
    font-size: 28px;
}

a {
    text-decoration: none;
}

a:hover {
    text-shadow:  1.5px  1.5px 0.33px #713, 
                 -1.5px  1.5px 0.33px #713,
                 -1.5px -1.5px 0.33px #713,
                  1.5px -1.5px 0.33px #713;
    transition: all 0.2s ease-in-out;
}

ul {
    font-style: italic;
    font-size: inherit;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    padding-left: 16px;
}

#sidebar ul {
    font-size: 18px;
}

/* collapsible lists */

input[type='checkbox'] {
    display: none;
}

.lbl-toggle {
    display: block;
    cursor: pointer;
    /*transition: all 0.4s ease-in-out;*/
}

.lbl-toggle:hover::after {
    color: #824;
    /*border-right: 12px solid #824;*/
    transition: all 0.3s ease-in-out;
}

.lbl-toggle::after {
    content: ' ';
    display: inline-block;

    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 10px solid currentColor;

    vertical-align: middle;
    margin-left: 0.7rem;
    transform: translateY(-2px);

    transition: transform 0.2s ease-out;
}

/*.collapsible-content .content-inner {
    background: rgba(250, 224, 66, .2);
    padding: .5rem 1rem;
}*/

.content-inner {
    margin-bottom: -4px;
}

.collapsible-content {
    max-height: 0px;
    overflow: hidden;
  
    transition: max-height 0.6s ease-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
    max-height: 36px;
}

.toggle:checked + .lbl-toggle::after {
    transform: rotate(-90deg) translateX(2px) translateY(1.5px);
    transition: transform .5s ease-in-out;
}

.selected {
    border-bottom: 1px solid currentColor;    
}

